#education {
  min-height: 100vh;
  margin-bottom: 7rem;
}
.education {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--PRIMARY);
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--PRIMARY);
  box-shadow: 0 0 25px var(--PRIMARY), 0 0 50px var(--PRIMARY);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font: 20px;
  font-weight: 800;
  color: var(--SECONDARY);
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: var(--BG-COLOR);
  border: 3px solid var(--PRIMARY);
  padding: 30px 50px;
  border-radius: 2rem;
  box-shadow: 0 0 10px var(--PRIMARY);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--PRIMARY);
}

.timeline-content h3 {
  font: 20px;
  color: var(--SECONDARY);
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content p {
  color: var(--SECONDARY);
  font: 16px;
  font-weight: 300;
  line-height: 22px;
}

@media only screen and (max-width: 890px) {
  .education {
    padding: 1rem 0rem;
  }

  .timeline-items::before {
    left: 7px;
  }

  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }

  .timeline-content {
    padding: 10px 10px;
    border-radius: 2rem;
    box-shadow: 0 0 10px var(--PRIMARY);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .timeline-content {
    padding: 15px 15px;
    border-radius: 2rem;
  }
}
